.wrapper {
    min-height: 300px;
    width: 590px;

    .box-component-login {
        border-radius: 4px;
        border: 1px solid var(--neutral-400);
        background: var(--neutral-500);
        padding: 70px 60px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .header-component {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

                       img {
                width: 60px;
                height: 60px;
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    color: var(--white);
                    margin: 0;
                    color: var(--white, #FFF);
                    font-size: 24px;
                    font-weight: 600;
                }

                p:last-child {
                    color: var(--white, #FFF);
                    font-size: 14px;
                    font-weight: 400;
                }

                .subtitulo {
                    color: var(--neutral-200) !important;
                }
            }
        }

        .hidden {
            display: none !important;
        }

        .body-component {
            display: flex;
            flex-direction: column;
            align-items: right;
            width: 100%;
            gap: 12px;

            form {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                gap: 12px;
                width: 100%;
            }


            a {
                color: var(--neutral-100);
                text-align: right;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                cursor: pointer;
                transition: .5s ease-in-out;

                &:hover {
                    color: var(--neutral-50);
                }

            }

            .forgot {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                justify-content: end;
                font-size: 14px;
            }

            .divider-span {
                display: flex;
                width: 100%;
                gap: 10px;
                align-items: center;

                span {
                    height: 1px;
                    width: 50%;
                    background-color: var(--neutral-400);
                }

                p {
                    color: var(--neutral-300);
                    font-size: 14px;
                }
            }

            .buttons {
                width: 100% !important;
                display: flex;
                gap: 10px;

                button {
                    width: 100%;
                }
            }

            .register {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                justify-content: end;
                font-size: 14px;

                p {
                    color: var(--neutral-100);
                    font-weight: 300;
                }

                a {
                    color: var(--neutral-400);
                    font-weight: 500;

                    &:hover {
                        color: var(--neutral-50);
                    }
                }
            }

            .login-company-link {
                font-weight: 300;
            }
        }

        .as-error-login {
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                width: 100%;
            }

            .buttons {
                display: flex;
            }
        }
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;
        padding: 20px;

        .box-component-login {
            padding: 50px 30px;
        }
    }
}