.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .menu {
    width: 100vw;
    max-height: 80px;
  }

  .body {
    width: 100vw;
    height: calc(100vh - (80px + 173px));
    display: flex;

    aside {
      &.nav {
        width: 100%;
        max-width: 225px;
      }

      &.notify {
        width: 100%;
        max-width: 300px;
        animation: right-left 0.35s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }
    }

    .section-router {
      width: 100%;
      max-width: calc(100vw - 225px);
    }
  }

  footer {
    width: 100vw;
    height: 173px;
  }
}
