button {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 10px;
  padding: 12px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-family: 'Inter', sans-serif !important;
}

.primary-button {
  height: 40px;
  font-size: 14px;
  color: var(--white);
  transition: 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &.red {
    background-color: var(--red-500);
    color: var(--red-100);

    &:hover {
      background-color: var(--red-700);
    }
  }

  &.neutral {
    background-color: var(--neutral-400);
    border: transparent;
    color: var(--neutral-100);

    &:hover {
      background-color: var(--neutral-500);
      border: solid 1px var(--neutral-400);
    }
  }

  &.transparent {
    color: var(--neutral-100);
    transition: 0.5s ease-in-out;
    border: transparent;
    color: var(--neutral-100);

    &:hover {
      background-color: var(--neutral-500);
      border: solid 1px var(--neutral-400);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.btn-red {
  background-color: var(--red-500);
  color: var(--white);

  &:hover {
    background-color: var(--red-600);
  }
}

.btn-text {
  background-color: transparent;
  color: var(--neutral-200);
  border: solid 1px transparent;

  &:hover {
    background-color: var(--neutral-600);
    border: solid 1px var(--neutral-500);
  }
}

.btn-outlined {
  background-color: transparent;
  border: solid 1px var(--neutral-450);
  color: var(--neutral-200);

  &:hover {
    background-color: var(--neutral-800);
  }
}

.btn-dark {
  background-color: var(--neutral-900);
  border: solid 1px var(--neutral-500);
  color: var(--neutral-200);

  &:hover {
    background-color: var(--neutral-800);
    color: var(--white);
  }
}
